:root {
  --primary-background-color: #141414;
  --secondary-background-color: #0f0f0f;

  --primary-border-color: #3a3a3a;
  --secondary-border-color: #252525;

  --primary-text-color: #ffffff;
  --secondary-text-color: #5e5e5e;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
#login-view{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 350px;
    padding: 20px;
    gap: 10px;
}
.login-view-hidden{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.login-view-visible{
    opacity: 100;
    transition: all 0.5s ease-in-out;
}
#login-logo{
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}
#login-logo > img{
    user-select: none;
    pointer-events: none;
}
input{
    background-color: var(--secondary-background-color);
}
input, button{
    padding: 18px;
    font-size: 1rem;
    border: solid 0.5px var(--secondary-border-color);
    border-radius: 8px;
    color: var(--primary-text-color);
}
::placeholder{ 
    color: var(--secondary-text-color);
}
input:focus {
    border: solid 1px var(--primary-border-color) !important;
    outline: none !important;
}
button:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}
button{
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    user-select: none;
}
::-ms-reveal{
    filter: invert(100%);
}
#login-status{
    color: var(--secondary-text-color);
    font-size: small;
    padding: 0px;
    margin: 0px;
}

.login-status-hidden{
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.login-status-visible{
    visibility: visible;
    opacity: 100%;
    transition: all 0.1s ease-in-out;
}
.author{
    position: absolute;
    width: 100px;
    height: auto;
    top: 95%;
}
.author > img {
    filter: invert(50%);
    user-select: none;
    pointer-events: none;
}
